<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apothecary.irreducible.apothecary" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-library android:name="com.google.android.maps" />

    <application
        android:name=".ApothecaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity android:name=".activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.ScannerActivity"
            android:label="@string/title_activity_scanner" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOJ8cxk9g3T5D1kZ5q2ajBGADxGF3pTHU" />

        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity android:name=".activities.AddPrescriptionActivity" android:label="Add Prescription"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>
